.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
_book/
_bookPDF/
_bookdown_files/
*_cache
*_files
rsconnect/*

*.tsv
*.Rdata
*.rdb
*.rdx
*.rds
*.md
*.Rproj
*.swp
*.bak
*.log
*.thm
*.aux
*.idx
*.ilg
*.ind
*.synctex.gz

solutions/chapter*.tex
solutions/solution-manual.pdf
