book-test.tex
book-test.pdf
answers/chapter*.tex
answers/solution-manual.pdf
.DS_store
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
_book/
_bookPDF/
_bookdown_files/
packages.bib
*_cache
*_files
_*
*.tsv
slides/*/*/*.png
*.Rdata
*.rdb
*.rdx
*.md
*.Rproj
*.swp
rsconnect/*
crc*
*.rds
*.log
*.thm
*.aux
*.synctex.gz
